* {padding: 0; margin: 0; box-sizing: border-box;}
        
body {
    background-color: gray;
}

.container  {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.photoSlot {
    flex-basis: 90%;
    background-image: url("../img/morpheo.webp");
    background-size: cover;
    background-position: center;
}

.selectorPhotos {
    flex-basis: 10%;
    width: 100%;
}

select {
    width: 100%;
    height: 100%;
    background-color: rgb(88, 88, 88);
    color: white;
    font-weight: 800;
}