* {padding: 0; border:none; margin:0; box-sizing: border-box;}

body {
    margin: 20px;
}

.carton {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    display:flex;
}

.title__text {
    background-color: rgb(250, 118, 70);
    color: white;
    border-left: 4px solid rgb(181, 149, 93);
    border-top: 4px solid rgb(181, 149, 93);
    border-bottom: 4px solid rgb(181, 149, 93);
    height: 269.6px;
    padding: 10px;
    display: flex;
    align-items: center;
}

table {
    border: 4px solid rgb(181, 149, 93);
    border-collapse: collapse;
    padding: 20px;
}

td {
    width: 20px;
    padding: 20px;
    border: 4px solid rgb(181, 149, 93);
}

button {
    margin-top: 40px;
    padding: 10px;
    cursor: pointer;
}
