* {padding: 0; margin:0; box-sizing: border-box;}
.game {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(1,0,15);
    background: linear-gradient(16deg, rgba(1,0,15,1) 0%, rgba(9,9,121,1) 35%, rgba(8,30,255,1) 100%);
}

.game__container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    height: 400px;
    width: 100%;
    gap: 20px;
    max-width: 840px;
    margin: 0 auto;
}

.game__fighter {
    border-radius: 4px;
    overflow: hidden;
    border: 8px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
}

.game__fighter-in {
   
    height: 400px;
    width:100%;
    display: contents;
}

.game__fighter-in img{
    height:100%;
    object-fit: cover;
    object-position: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px;
    font-size: 24px;
    border: 4px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

.winner {
    border: 10px solid #ff0000;
    animation: winnerAnimation 0.2s ease-in;
}

.winner:after {
    content: "WINNER!";
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    color: #ff0000;
    position: absolute;
}

.draw {
    border: 10px solid #ffff00;
    animation: winnerAnimation 0.2s ease-in;
}

.draw::after {
    content: "DRAW!";
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    color: #ffff00;
    position: absolute;
}

/*darle vibracion a las cartas*/
@keyframes winnerAnimation {
    0% {transform: rotate(0)}
    25% {transform: rotate(5deg)}
    50% {transform: rotate(0)}
    45% {transform: rotate(-5deg)}
    100% {transform: rotate(0)}
}